{{#link-to "editor.new" data-test-mobile-nav="new-story"}}{{svg-jar "pen"}}{{t 'New story'}}{{/link-to}}
{{#if (eq router.currentRouteName "posts.index")}}
    {{#link-to "posts" (query-params type=null) classNames="active" data-test-mobile-nav="stories"}}{{svg-jar "content"}}{{t 'Stories'}}{{/link-to}}
{{else}}
    {{#link-to "posts"}}{{svg-jar "content" data-test-mobile-nav="stories"}}{{t 'Content'}}{{/link-to}}
{{/if}}
{{#link-to "team" classNames="gh-nav-main-users" data-test-mobile-nav="team"}}{{svg-jar "account-group"}}{{t 'Team'}}{{/link-to}}
<div class="gh-mobile-nav-bar-more" {{action "openMobileMenu" target=ui data-test-mobile-nav="more"}}>{{svg-jar "icon" class="icon-gh"}}{{t 'More'}}</div>
{{yield}}
