{{#if hasBlock}}
    {{yield (hash
        isIdle=isIdle
        isRunning=isRunning
        isSuccess=isSuccess
        isFailure=isFailure
    )}}
{{else}}
    <span>
    {{#if isRunning}}{{svg-jar "spinner" class="gh-icon-spinner"}}{{t runningText}}{{/if}}
    {{#if isIdle}}{{t buttonText}}{{/if}}
    {{#if isSuccess}}{{svg-jar "check-circle"}} {{t successText}}{{/if}}
    {{#if isFailure}}{{svg-jar "retry"}} {{t failureText}}{{/if}}
    </span>
{{/if}}
