<header class="modal-header">
    <h1>{{t "Markdown Help"}}</h1>
</header>
<a class="close" href="" title={{t "Close"}} {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">{{t "Close"}}</span></a>

<div class="modal-body">
    <section class="markdown-help-container">
        <table class="modal-markdown-help-table">
            <thead>
            <tr>
                <th>{{t "Markdown"}}</th>
                <th>{{t "Result"}}</th>
                <th>{{t "Shortcut"}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>**{{t "text"}}**</td>
                <td><strong>{{t "Bold"}}</strong></td>
                <td>Ctrl/⌘ + B</td>
            </tr>
            <tr>
                <td>*{{t "text"}}*</td>
                <td><em>{{t "Emphasize"}}</em></td>
                <td>Ctrl/⌘ + I</td>
            </tr>
            <tr>
                <td>~~{{t "text"}}~~</td>
                <td><del>{{t "Strike-through"}}</del></td>
                <td></td>
            </tr>
            <tr>
                <td>[{{t "title"}}](http://)</td>
                <td><a href="#">{{t "Link"}}</a></td>
                <td>Ctrl/⌘ + K</td>
            </tr>
            <tr>
                <td>`code`</td>
                <td><code>{{t "Inline Code"}}</code></td>
                <td>Ctrl/⌘ + Alt + C</td>
            </tr>
            <tr>
                <td>![alt](http://)</td>
                <td>{{t "Image"}}</td>
                <td>Ctrl/⌘ + Shift + I</td>
            </tr>
            <tr>
                <td>* {{t "item"}}</td>
                <td>{{t "List"}}</td>
                <td>Ctrl/⌘ + L</td>
            </tr>
            <tr>
                <td>1. {{t "item"}}</td>
                <td>{{t "Ordered List"}}</td>
                <td>Ctrl/⌘ + Alt + L</td>
            </tr>
            <tr>
                <td>> {{t "quote"}}</td>
                <td>{{t "Blockquote"}}</td>
                <td>Ctrl/⌘ + '</td>
            </tr>
            <tr>
                <td>=={{t "Highlight"}}==</td>
                <td><mark>{{t "Highlight"}}</mark></td>
                <td></td>
            </tr>
            <tr>
                <td># {{t "Heading"}}</td>
                <td>H1</td>
                <td></td>
            </tr>
            <tr>
                <td>## {{t "Heading"}}</td>
                <td>H2</td>
                <td>Ctrl/⌘ + H</td>
            </tr>
            <tr>
                <td>### {{t "Heading"}}</td>
                <td>H3</td>
                <td>Ctrl/⌘ + H (x2)</td>
            </tr>
            </tbody>
        </table>
{{t "For further Markdown syntax reference"}}: <a href="https://docs.ghost.org/faq/using-the-editor/#using-markdown" target="_blank">{{t "Markdown Documentation"}}</a>
    </section>
</div>
