<header class="modal-header">
    <h1>{{t "Are you sure?"}}</h1>
</header>
<a class="close" href="" title={{t "Close"}} {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">{{t "Close"}}</span></a>
<div class="modal-body">
    <p>
        {{t "Deleting this integration will remove all webhooks and api keys associated with it."}}
    </p>
</div>
<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>{{t "Cancel"}}</span></button>
    {{gh-task-button "Delete Integration" successText="Deleted" task=deleteIntegration class="gh-btn gh-btn-red gh-btn-icon"}}
</div>
